@font-face {
  font-family: "Digital 7";
  src: url("digital_7/digital-7 (mono).ttf");
}

#calculator {
  margin: auto;

  --unit: min(40vh, 80vw)/100;
  max-width: calc(var(--unit) * 100);
  padding: calc(var(--unit) * 15) calc(var(--unit) * 10);

  border-style: solid;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  --gap: calc(var(--unit) * 5);
  gap: var(--gap);

  /* Colors based on the TI-2550 */
  --white: #dddddd;
  --black: #041220;
  --btnblack: #030911;
  --blue: #3baed2;
  --orange: #f78030;

  background-color: var(--black);
  color: var(--white);
}

#output {
  border-style: solid;
  font-size: calc(14.8 * var(--unit));
  text-align: right;
  padding: calc(1 * var(--unit));
  font-family: "digital 7", monospace;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

#memory button {
  background-color: var(--btnblack);
  color: var(--white);
}

.number {
  background-color: var(--white);
  color: var(--black);
}

.equal {
  background-color: var(--orange);
  color: var(--black);
}

button {
  box-sizing: border-box;

  flex-basis: calc((100% - 3 * var(--gap))/4);
  aspect-ratio: 1/1;

  background-color: var(--blue);
  color: var(--white);

  font-size: calc(10 * var(--unit));
  font-family: 'courier new';
  font-weight: bold;
}

#n0, #equal {
  flex-grow: 1;
  aspect-ratio: auto;
}

p {
  margin: 0;
  text-align: right;
  font-style: italic;
}
